<!-- <div class="notes-player">
  <h2>Notes Viewer</h2>

  <ng-container *ngIf="currentStep === 'notes'; else navigation">
    <iframe *ngIf="currentUrl" [src]="currentUrl" width="100%" height="600px"></iframe>
  </ng-container>

  <ng-template #navigation>
    <p>Redirecting...</p>
  </ng-template>

  <div class="controls">
    <button (click)="prevStep()" [disabled]="currentStep === 'notes' && currentTopicIndex === 0">Previous</button>
    <button (click)="nextStep()">Next</button>
  </div>

  <button class="back-btn" (click)="goBack()">Back to Topics</button>
</div> -->
<div class="notes-player">
  <h2>Notes Viewer</h2>

  <ng-container *ngIf="currentStep === 'notes'; else navigation">
    <ngx-extended-pdf-viewer
      [src]="getCurrentPdfUrl()"
      useBrowserLocale="true"
      showToolbar="true"
      height="600px"
    ></ngx-extended-pdf-viewer>
  </ng-container>

  <ng-template #navigation>
    <p>Redirecting...</p>
  </ng-template>

  <div class="controls">
    <button (click)="prevStep()" [disabled]="currentStep === 'notes' && currentTopicIndex === 0">Previous</button>
    <button (click)="nextStep()">Next</button>
  </div>

  <button class="back-btn" (click)="goBack()">Back to Topics</button>
</div>
<h1>laiba</h1>
